<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Xerris Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/regenerator-runtime@0.13.7/runtime.min.js"></script>

    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self' https: localhost:*; script-src 'self' 'unsafe-inline' 'unsafe-eval' https: localhost:* https://xerris-dashboard-5d23c.web.app; connect-src https: localhost:* ws://localhost:*; style-src 'unsafe-inline' https:; object-src 'none';"
    />
    <meta name="importmap-type" content="systemjs-importmap" />
    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
          "react": "https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.development.min.js",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.development.min.js"
        }
      }
    </script>
    <% } else { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "single-spa": "https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js",
          "react": "https://cdn.jsdelivr.net/npm/react@16.13.1/umd/react.production.min.js",
          "react-dom": "https://cdn.jsdelivr.net/npm/react-dom@16.13.1/umd/react-dom.production.min.js"
        }
      }
    </script>
    <% } %>
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/single-spa@5.9.0/lib/system/single-spa.min.js"
      as="script"
    />

    <% if (isLocal) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@xerris/root-config": "//localhost:9000/xerris-root-config.js",
          "@xerris/sidebar-app": "//localhost:9001/xerris-sidebar-app.js",
          "@xerris/auth-app": "//localhost:9002/xerris-auth-app.js",
          "@xerris/calendar-app": "//localhost:9003/xerris-calendar-app.js",
          "@xerris/utility-app": "//localhost:9004/xerris-utility-app.js",
          "@xerris/pricing-calculator": "//localhost:9005/xerris-pricing-calculator.js",
          "@xerris/home-app": "//localhost:9006/xerris-home-app.js"
        }
      }
    </script>
    <% } else if (!isLocal && !isProd) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@xerris/root-config": "./xerris-root-config.js",
          "@xerris/auth-app": "https://xerris-auth-app.web.app/auth",
          "@xerris/utility-app": "https://xerris-utility-app.web.app/utility",
          "@xerris/sidebar-app": "https://xerris-sidebar-app.web.app/sidebar",
          "@xerris/pricing-calculator": "https://xerris-pricing-calculator.web.app/calculator",
          "@xerris/calendar-app": "https://xerris-calendar-app.web.app/calendar",
          "@xerris/home-app": "https://xerris-home-app.web.app/home"
        }
      }
    </script>
    <% } else if (!isLocal && isProd) { %>
    <script type="systemjs-importmap">
      {
        "imports": {
          "@xerris/root-config": "./xerris-root-config.js",
          "@xerris/auth-app": "https://xerris-auth-app-prod.web.app/auth-prod",
          "@xerris/utility-app": "https://xerris-utility-app-prod.web.app/utility-prod",
          "@xerris/sidebar-app": "https://xerris-sidebar-app-prod.web.app/sidebar-prod",
          "@xerris/pricing-calculator": "https://xerris-pricing-calculator-prod.web.app/calculator-prod",
          "@xerris/calendar-app": "https://xerris-calendar-app-prod.web.app/calendar-prod",
          "@xerris/home-app": "https://xerris-home-app-prod.web.app/home-prod"
        }
      }
    </script>
    <% } %>
    <script src="https://cdn.jsdelivr.net/npm/import-map-overrides@2.2.0/dist/import-map-overrides.js"></script>
    <% if (isLocal) { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.js"></script>
    <% } else { %>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/system.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/systemjs@6.8.3/dist/extras/amd.min.js"></script>
    <% } %>
  </head>
  <body>
    <noscript> You need to enable JavaScript to run this app. </noscript>
    <main></main>
    <% if (isLocal) { %>
    <script>
      System.import("@xerris/root-config");
    </script>
    <% } else { %>
    <script type="text/javascript">
      System.import("./xerris-root-config.js");
    </script>
    <% } %>
    <import-map-overrides-full
      show-when-local-storage="devtools"
      dev-libs
    ></import-map-overrides-full>
  </body>
</html>
